@import "~bootstrap-icons/font/bootstrap-icons.css";

$highlight-color: rgb(85, 0, 124);
$border-color: #6c757d;


/* You can add global styles to this file, and also import other style files */
body
{
    background-color: rgb(10, 10, 10);
    color: rgb(241, 241, 241);
    background-image: url("./assets/img/temp-bg.jpg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.sidebar {
    position: fixed;
    top: 0;
    
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

post-summary .card {
    color: white;
    background-color: rgba(17, 17, 17, .75);
    margin-bottom: 3rem;
    margin: 3rem 0 0 0;
    border: 1px solid $border-color;

    backdrop-filter: blur(5px);
}

post-summary .card:hover {
    filter: brightness(1.5);
    backdrop-filter: blur(10px) drop-shadow(2);
}

.img-thumbnail {
    height: 100px;
    width: auto;
}

#left-nav
{
    background-color: rgb(25, 25, 31)
}

footer {
    color: $highlight-color;
    height: 1rem;
}

.btn-primary{
    background-color: $highlight-color;
    border-color: $highlight-color;
}

.card-header
{
    padding: 0rem 1rem;
    border-bottom: 1px solid $border-color;



}


.section-header-bar
{
    height: 2rem;
    background-image: url("./assets/img/texture.png");
    background-repeat: repeat-x;
    background-position: left 50% center;
    float: left;
}

.section-title
{
    float: left;
}


.section-icons
{
    float: right;
}

.card-header h5
{
    float: left;
    margin: 3px;
    padding: 0px 20px 0px 20px;
    margin-left: 19px;

    font-size: medium;
    font-weight: normal;
}

.card-footer
{
    padding: 0rem 1rem;
    border-top: 1px solid $border-color;
}