
@import "/assets/styles/_variables";



.card {
    color: white;
    background-color: rgba(17, 17, 17, .75);
    margin-bottom: 3rem;
    margin: 3rem 0 0 0;
    border: 1px solid $border-color;

    backdrop-filter: blur(5px);
}

.card:hover {
    filter: brightness(1.5);
    backdrop-filter: blur(10px) drop-shadow(2);
}


.card-header
{
    padding: .1rem;
    border-bottom: 1px solid $border-color;
}


.section-header-bar
{

    background-image: url("/assets/img/texture.png");
    background-repeat: repeat-x;
    background-position: left 50% center;
}


.section-title
{
}


.section-header-bar i
{
    float: right;
}

.card-header h5
{
    margin: 3px;
    //padding: 0px 20px 0px 20px;

    font-size: medium;
    font-weight: normal;
}

.card-footer
{
    padding: 0rem 1rem;
    border-top: 1px solid $border-color;
}