<nav id="left-nav">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <span class="material-icons expand">expand_more</span>
            <span class="icon material-icons highlight1">code</span>
            <span>Software Development</span>
          </a>
          <ul class="open">
            <li><span class="icon material-icons highlight5">terminal</span><a>General</a></li>
            <li><span class="icon material-icons highlight1">data_object</span><a>.NET</a></li>
            <li>Test</li>
            <li>Test</li>
            <li>Test</li>
            <li>Test</li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="material-icons expand">chevron_right</span>
            <span class="icon material-icons highlight2">home_repair_service</span> Utilities
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="material-icons expand">chevron_right</span>
            <span class="icon material-icons highlight3">science</span>
            Experiments &amp; Demos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="material-icons expand">chevron_right</span>
            <span class="icon material-icons highlight4">sports_motorsports</span>
            Hobbies &amp; Pets
          </a>
        </li>
      </ul>
      </div>
  </nav>