<nav id="left-nav">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <span class="icon material-icons highlight1">data_object</span>
            <span>Software Development</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="icon material-icons highlight2">home_repair_service</span> Utilities
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="icon material-icons highlight3">science</span>
            Experiments &amp; Demos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="icon material-icons highlight4">sports_motorsports</span>
            Hobbies &amp; Pets
          </a>
        </li>
      </ul>
      </div>
  </nav>